@font-face {
    font-family: 'sf_pro_textregular';
    src: url('../fonts/sfprotext-regular-webfont.woff2') format('woff2'),
    url('../fonts/sfprotext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}